html {
    background-color: #38247f;
    font-family: 'Mulish', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 45px;
    color: rgb(63, 226, 49);
}

.button {
    transition: all 0.4s;
    background-color:rgb(63, 226, 49);
    color: #38247f;
    width: 200px;
    height: 40px;
    font-size: 20px;
    border-radius: 12px;
    border:3px solid #fefeff;
    margin: -10px 0px
}

.button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#drink {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: white;
}

#full-drink {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 15px;
    margin: 10px;
    padding: 20px;
    border: 5px solid white;
    margin: -10px 0px
}

img {
    height: 350px;
}

.sections {
    color: white;
}

.section-title {
    font-size: 20px;
    margin: 0;
}

section ul {
    padding: 0;
    list-style-type: none;
}

section .ingredient{
    list-style-type: none;
    padding-left: 0;
}

#measure-section {
    width: 150px;
}

#ingredients-section {
    width: 300px;
}

#recipe-section {
    width: 200px;
}